{% extends 'dash/base.html' %}
{% block body_block %}
<!--<div id="login">
	<h1>Login</h1><br/>
	<div class="container"> 
	<form class="form-signin span4" id="login_form" method="post" action="/dash/login/">
		<h2 class="form-signin-heading">Please sign in</h2>
		{% csrf_token %}

		{% if invalid_login %}
		<p><strong>Your username and/or password were incorrect</strong></p>
		{% elif disabled_account %}
		<p><strong>Your Guac account is currently disabled; contact an adminstrator.</strong></p>
		{% endif %}

		<input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="30" />
		<br />
		<input type="password" class="input-block-level" placeholder="Password" name="password" value="" size="30" />
		<br />
		<button class="btn btn-primary" type="submit">Sign in</button>
		<a href="/dash/register/"> New User?</a>
		</form>	
	</div>
<
-->
{% load staticfiles %}
<link href="{% static 'css/login.css'%}" rel="stylesheet">
<div id="login">
	<h2>          Sign In</h2>
	
	<form action="/dash/login/" method="POST">
		{% csrf_token %}	
		<fieldset>
		<p><label for="text">Username</label></p><p><input type="text" name="username" value="Username" onBlur="if(this.value=='')this.value='Username'" onFocus="if(this.value=='Username')this.value=''"></p>
		<p><label for="password">Password</label></p><input type="password" name="password" value="password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='password')this.value=''"></p>
		<p><input type="submit" value="Sign In"></p>
		<p><a href="/dash/register/">New User?</a>
		</fieldset>
	</form>
</div>
{% endblock %}
